body {
    background-color: #f1f1f1;
}

p {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.1em;
}
/* Larger than desktop */
@media (min-width: 1000px) {
    p {
        font-size: 1.5em;
    }
}

.container {
    margin-top: 5%;
    max-width: 500px;
}

.logo {
    font-family: 'Averia Libre', cursive;
    color: #F44336;
    font-weight: 700;
    font-style: italic;
}

.intro {
    font-family: 'Averia Libre', cursive;
    font-weight: 400;
}

.card {
    color: white;
    font-family: 'Averia Libre', cursive;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    width: 92%;
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(224,224,224,0.5);
    -moz-box-shadow: 0px 1px 3px 1px rgba(224,224,224,0.5);
    box-shadow: 0px 1px 3px 1px rgba(224,224,224,0.5)
}

a.card-link {
    text-decoration: none;
}

.card span {
    font-size: 16px;
    font-weight: 300;
    line-height: 1px;
}

.card.writing {
    background-image: url('/img/writing.jpg');
    background-size: 100%;
}
.card.reading {
    background-image: url('/img/reading_color.jpg');
    background-size: 100%;
}
.card.astro {
    background-image: url('/img/astrophotography.jpg');
    background-size: 100%;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}